In [13]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [5]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'],test_size = 0.2)

In [8]:
X_train.sample(5)

    age  gender  fever   cough       city
35   82  Female  102.0  Strong  Bangalore
46   19  Female  101.0    Mild     Mumbai
60   24  Female  102.0  Strong  Bangalore
0    60    Male  103.0    Mild    Kolkata
89   46    Male  103.0  Strong  Bangalore

## 1. Aam Zindagi

In [9]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [11]:
# Ordinal encoding -> cough
oe = OrdinalEncoder(categories = [['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [14]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop = 'first', sparse = False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [15]:
X_train_gender_city

array([[0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 1.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.]])

In [16]:
X_train

    age  gender  fever   cough       city
98    5  Female   98.0  Strong     Mumbai
8    19  Female  100.0  Strong  Bangalore
74   34  Female  104.0  Strong      Delhi
35   82  Female  102.0  Strong  Bangalore
91   38    Male    NaN    Mild      Delhi
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
75    5    Male  102.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
67   65    Male   99.0    Mild  Bangalore
94   79    Male    NaN  Strong    Kolkata

[80 rows x 5 columns]

In [17]:
# Extracting age
X_train_age = X_train.drop(columns = ['gender','cough','fever','city']).values

# also the test data
X_test_age = X_test.drop(columns = ['gender','cough','fever','city']).values

X_train_age.shape

(80, 1)

In [18]:
X_train_transformed = np.concatenate((X_train_age,X_train_cough,X_train_fever,X_train_gender_city),axis = 1)
X_test_transformed = np.concatenate((X_test_age,X_test_cough,X_test_fever,X_test_gender_city),axis = 1)

X_train_transformed.shape

(80, 7)

In [19]:
X_train_transformed

array([[  5.        ,   1.        ,  98.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 19.        ,   1.        , 100.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 34.        ,   1.        , 104.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 82.        ,   1.        , 102.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 38.        ,   0.        , 100.92857143,   1.        ,
          1.        ,   0.        ,   0.        ],
       [ 11.        ,   0.        , 100.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 27.        ,   0.        , 100.        ,   1.        ,
          1.        ,   0.        ,   0.        ],
       [ 47.        ,   1.        , 100.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [  5.        ,   0.        , 100.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 13.        ,   1.        , 100.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 70.        ,   1.        , 103.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 65.        ,   0.        , 101.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 56.        ,   1.        , 104.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 49.        ,   1.        ,  99.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 17.        ,   0.        , 104.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 16.        ,   0.        , 103.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 51.        ,   0.        , 104.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 60.        ,   0.        ,  99.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 82.        ,   1.        , 102.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 48.        ,   0.        , 103.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 83.        ,   0.        ,  98.        ,   1.        ,
          1.        ,   0.        ,   0.        ],
       [ 69.        ,   0.        , 102.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 80.        ,   0.        , 100.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 55.        ,   0.        , 100.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 12.        ,   1.        ,  98.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 75.        ,   1.        , 104.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 59.        ,   1.        ,  99.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 19.        ,   0.        , 100.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 64.        ,   0.        ,  98.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 26.        ,   0.        ,  98.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 74.        ,   0.        , 102.        ,   1.        ,
          0.        ,   0.        ,   1.        ],
       [ 84.        ,   0.        , 100.92857143,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 46.        ,   1.        , 103.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 14.        ,   0.        ,  99.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 51.        ,   0.        , 104.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 72.        ,   0.        ,  99.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 81.        ,   1.        ,  98.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 18.        ,   0.        , 104.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 81.        ,   0.        , 101.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 69.        ,   0.        , 103.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 71.        ,   1.        , 100.92857143,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 14.        ,   1.        , 101.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 60.        ,   0.        , 103.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 49.        ,   0.        , 101.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 50.        ,   0.        , 103.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 83.        ,   0.        , 101.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 24.        ,   0.        ,  98.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 27.        ,   0.        , 100.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 20.        ,   1.        , 100.92857143,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 75.        ,   0.        , 100.92857143,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 19.        ,   0.        , 101.        ,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 82.        ,   0.        , 100.92857143,   1.        ,
          0.        ,   1.        ,   0.        ],
       [  8.        ,   0.        , 101.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 42.        ,   1.        , 100.92857143,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 42.        ,   0.        , 101.        ,   1.        ,
          1.        ,   0.        ,   0.        ],
       [ 47.        ,   1.        , 101.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 31.        ,   0.        ,  98.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 22.        ,   0.        ,  99.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 10.        ,   1.        ,  98.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 23.        ,   1.        ,  98.        ,   1.        ,
          0.        ,   0.        ,   1.        ],
       [ 24.        ,   1.        , 102.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 73.        ,   0.        ,  98.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 23.        ,   0.        , 100.92857143,   1.        ,
          0.        ,   0.        ,   1.        ],
       [ 64.        ,   0.        , 102.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 34.        ,   1.        , 100.92857143,   0.        ,
          0.        ,   0.        ,   1.        ],
       [ 20.        ,   0.        , 101.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 16.        ,   0.        , 104.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 38.        ,   0.        , 101.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 68.        ,   1.        , 101.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 80.        ,   0.        ,  98.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 49.        ,   0.        , 102.        ,   0.        ,
          1.        ,   0.        ,   0.        ],
       [ 44.        ,   0.        , 104.        ,   1.        ,
          0.        ,   0.        ,   1.        ],
       [ 20.        ,   1.        , 102.        ,   1.        ,
          1.        ,   0.        ,   0.        ],
       [  6.        ,   0.        , 104.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [ 12.        ,   0.        , 104.        ,   0.        ,
          0.        ,   0.        ,   0.        ],
       [ 51.        ,   1.        , 101.        ,   0.        ,
          0.        ,   1.        ,   0.        ],
       [  5.        ,   0.        , 102.        ,   1.        ,
          0.        ,   1.        ,   0.        ],
       [ 27.        ,   0.        , 100.        ,   1.        ,
          1.        ,   0.        ,   0.        ],
       [ 65.        ,   0.        ,  99.        ,   1.        ,
          0.        ,   0.        ,   0.        ],
       [ 79.        ,   1.        , 100.92857143,   1.        ,
          0.        ,   1.        ,   0.        ]])

## 2. Mentos Zindagi

In [20]:
from sklearn.compose import ColumnTransformer

In [25]:
transformer = ColumnTransformer(transformers = [
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories = [['Mild','Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse = False, drop = 'first'),['gender','city'])
], remainder = 'passthrough')

In [27]:
transformer.fit_transform(X_train).shape

(80, 7)

In [28]:
transformer.transform(X_test).shape

(20, 7)