In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [5]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [6]:
df.dropna(inplace = True)

In [7]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [8]:
df['Family'] = df['SibSp'] + df['Parch']
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [9]:
df.drop(columns = ['SibSp','Parch'], inplace = True)

In [10]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [11]:
X = df.drop(columns = ['Survived'])
y = df['Survived']

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [13]:
X_train.head(2)

      Age     Fare  Family
328  31.0  20.5250       2
73   26.0  14.4542       1

In [19]:
# Without binarization

clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.6363636363636364

In [21]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv = 10, scoring = 'accuracy'))

0.641510172143975

In [31]:
# Applying Binarization
from sklearn.preprocessing import Binarizer

In [35]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy = False),['family'])
],remainder = 'passthrough')

In [34]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

ValueError: A given column is not a column of the dataframe